:root{
    --primary-color: #FFFFFF;
    --secondary-color: #00754B; 
    --light-color: #C8FCEA;
    --suplimentary-color: #6A9A8B;
}

.titles{
    position: relative;
}

.titles1{
    position: relative;
    width: 100%;
}

*{
    box-sizing: border-box;
       padding: 0;
        margin: 0;
}
img{
    width: 90px;
}

hr{
    width: 90%;
    margin: 1.5em auto;
    height: 2px;
    background-color: black;
    border: none;
}

body{
    background-color: var(--primary-color);
    font-size: 1.1em;
    font-family: Verdana, sans-serif;
}

/*---------Navbar-------*/
.nav-bar {
    background-color: var(--secondary-color);
            position: fixed;
               width: 100%;
             z-index: 100;
          box-shadow: 0 5px 5px rgb(0, 0, 0, 0.3);
}

.nav-bar .container{
            display: flex;
    justify-content: space-between;
        align-items: center;
         text-align: center;
              width: 100%;
             height: 100%;
    
}

.nav-bar .container>img{
            width: 80px;
            height: 45px;
}

nav ul{
    list-style-type: none;  
            display: inline-flex;
            margin: .5em auto;
            padding-right: 0.3em;
}

nav ul li a{
    text-decoration: none;
          font-size: 1.2em;
            padding: .3em;
             margin: .5em; 
              color: rgb(216, 209, 209);
         transition: 0.5s;   
}

.active,
nav ul li a:hover{
     border-color: var(--primary-color);
    border-bottom: solid var(--primary-color);
    color: var(--primary-color);
}
/*-----Header-----*/
.head{ 
    background-color: var(--secondary-color);
       border-radius: 10px;
            position: relative;
         align-items: center;
          text-align: center;
              height: fit-content; 
               width: 100%; 
             z-index: -100;
}

.head .container{ 
         align-items: center;
          text-align: center;
           font-size: 1.2em;       
            position: relative;
             display: flex;
              height: auto; 
               width: 100%;
     justify-content: center;  
}

.head .card{ 
    height: 450px; 
    width: 70%;
    margin-top: 4.5em;
    justify-self: flex-end;
    background-color: var(--suplimentary-color);
    /* transform: skewY(3deg); */
    transform: skewY(2.5deg);
    position: relative;
}


.head .card img{ 
              height: 100%; 
               width: 100%; 
}
.head::before,
.head::after{
    content: "";
     height: 90px; 
      width: 100%; 
      bottom: -80px;
      right: 0;
      left: 0;
      border-radius: 33%;
      position: absolute;
 background-color: var(--primary-color);
 transform: skewY(3deg);
}

header h1{
    padding-top: .5em;
      font-size: 1.5em;
        color: var(--primary-color);
         margin-bottom: 0.5em; 
}

header p{
   text-align: center;
    font-size: 1.1em;
        color: var(--primary-color);
        margin-bottom: 5em;
}

.overlay{
        background-position: center; 
        background-repeat: no-repeat;  
          background-size: cover;
         height: 100%;
         width: 100%;
         position: absolute;
         z-index: -1;
         filter: brightness(40%);
}

/*-----Portfolio-----*/

.portfolio {
            display: flex;
     flex-direction: column;
    justify-content: center;
        align-items: center;
      align-content: center;
/*          margin-top: ;
      margin-bottom: ;  */
             margin: 4em auto 5em;
}


.portfolio-items{
    margin-top: 3em;
}

 .portfolio .card{
    background-color: var(--primary-color);
      flex-direction: column;
     justify-content: center;
         align-items: center;
             display: flex;
               width: 70%;
              height: 100%;
              margin: 0.5em;
}
 .portfolio .card img{
     width: 100px;
    height: 100px;
    margin: auto;
}
 .portfolio .grid{
    justify-content: center;
        align-items: center;
                gap: 1.5em;
             margin: auto;
} 


.portfolio h1{
       text-align: center;
       margin-top: 2.5em;
    margin-bottom: 0.8em;
            color: var(--secondary-color);
}


figure{
      font-size: large;
        padding: 0.5em;
}


/* ------Skills------ */

.skills{
    text-align: center;
    margin-top: 2.5em;
}


.skills h1{
    color: var(--secondary-color);
    margin-bottom: 0.8em;
}

.skills .card{
    transition: 0.3s;
}

.skills .card:hover{
transform: translateY(-0.2em);
}

.skills .card img{
    width: 80px;
    height: 50px;
}

.skills .card h4{
margin: 0.5em;
}


/* ---------About Styling-------- */

.about-me .container {
    padding-top: 8em;
    width: 100%;
    flex-direction: column;
}

.about-me .container h1{
    padding-top: 1em;
     text-align: center;
      font-size: 1.9em;
          color: var(--secondary-color);
}

.about-me img{
    width: 60%;
}

.about-me-text{
    width: 70%;
    flex-direction: column;
}

.about-me-text img{
    width: 90%; 
    margin: auto;
}
.about-me-text p{
    line-height: 1.5em;
    letter-spacing: 0.1em;
    padding: 1.5em;
    color:  var(--secondary-color);
}
.about-me-text figure {
    color: rgb(105, 102, 102);
}


/*------Footer------*/
footer{
    background-color: var(--suplimentary-color);
     justify-content: center;
      flex-direction: column; 
          margin-top: 1.5em;
       align-content: center;
          text-align: center;
             padding: 1.5em 0.8em;
             display: flex;
               color: white;
}

footer a{
    text-decoration: none;
          font-size: 1.1em;
        transition: 0.5s;    
            padding: 0.2em;
             margin: 0.2em;
              color: rgb(216, 209, 209);
}

footer a:hover{
        color: rgb(255, 255, 254);
    transform: translateY(-0.2em);
}

footer hr{
        background-color: rgb(255, 255, 254);
}

.contact{
    display: flex;
/*     flex-direction: column; */
   width: 80%;
    margin: auto;
} 
footer h2{
    margin: 0.5em 0.5em 0 0.5em ;
}

/*--------Media Query-------*/
@media (min-width: 755px){

 /*--Header MediaQ---*/

    header h1{
        padding-top: 2.5em;
          font-size: 2.5em;
     }

    header p{
         font-size: 1.9em;
     }

 /*-----Portfolio MediaQ-----*/


  .portfolio img{
    border-radius: 2px;
           margin: 0;
           height: 78%;
            width: 90%;
}

figure{
           font-size: 1.1em;
             padding: 0.5em 0 .5em;
             margin: 0.5rem 0.5rem 0.5rem 0;
             height: 88%;
             text-align: center;
}


/*------Footer MediaQ------*/
footer a{
          font-size: 1.1em;
             margin: 0.5em 0.3em;
             padding: 0.5em 0.3em;
}
.contact{
    flex-direction: row;
    width: 80%;
    margin: auto;
}

/*---------Skills Styling Media Q--------*/
.skills .flex{
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
}

.skills .flex .card{
    margin: .5em;
}



/*--------Navbar MediaQ-----*/
nav ul a{
    font-size: 1.5em;
}

.titles1::after{
    content: "";
     height: 3px; 
      width: 90%; 
     bottom: 20; 
      right: 0;
      left: 0;
      border-radius: 33%;
      position: absolute;
    background-color: var(--secondary-color);
    margin: 1.5em auto;
    }

}
@media (min-width: 550px) and (max-width: 755px){

 /*--Header MediaQ---*/

    header h1{
        padding-top: 2.5em;
          font-size: 2.1em;
     }

    header p{
         font-size: 1.5em;
     }

    .head .container{ 
        align-items: center;
         text-align: center;
          font-size: 1.2em;       
           position: relative;
            display: flex;
             height: 700px; 
              width: 100%;
    justify-content: center;
     flex-direction: column;   
    }

    .head .card{ 
        height: 80%; 
        width: 80%;
        margin-top: 6.5em;
        justify-self: flex-end;
        background-color: var(--suplimentary-color);
        transform: skewY(2.5deg);
        z-index: -10;
        position: absolute;
    }

    /*-----Portfolio MediaQ-----*/


  .portfolio img{
    border-radius: 2px;
           margin: 0;
           height: 78%;
            width: 90%;
    }

    figure{
           font-size: 1.1em;
             padding: 0.5em 0 .5em;
             margin: 0.5rem 0.5rem 0.5rem 0;
             height: 88%;
             text-align: center;
    }

    /*--------Skills Styling Media Q------*/

    .skills .flex{
        width: fit-content;
        flex-wrap: wrap;
    }

    /*------Footer MediaQ------*/
    footer a{
          font-size: 1.1em;
             margin: 0.5em 0.5em;
             padding: 0.5em;
    }
    .contact{
            flex-wrap: wrap-reverse;
       flex-direction: row; 
                width: 90%;
               margin: auto;
    }

    /*--------Navbar MediaQ-----*/
    nav ul a{
    font-size: 1.5em;
    }

    .titles1::after{
    content: "";
     height: 3px; 
      width: 90%; 
     bottom: 20; 
      right: 0;
      left: 0;
      border-radius: 33%;
      position: absolute;
    background-color: var(--secondary-color);
    margin: 1.5em auto;
    }

}

@media (min-width: 450px) and (max-width: 550px){

 /*--Header MediaQ---*/

    header h1{
        padding-top: 1.9em;
          font-size: 2.1em;
     }

    header p{
         font-size: 1.1em;
     }

    .head .container{ 
        align-items: center;
         text-align: center;
          font-size: 1.2em;       
           position: relative;
            display: flex;
             height: 700px; 
              width: 100%;
    justify-content: center;
     flex-direction: column;   
    }

    .head .card{ 
        height: 75%; 
        width: 80%;
        margin-top: 4.5em;
        justify-self: flex-end;
        background-color: var(--suplimentary-color);
        transform: skewY(2.5deg);
        z-index: -10;
        position: absolute;
    }

    .titles1::after{
    content: "";
     height: 3px; 
      width: 90%; 
     bottom: 20; 
      right: 0;
      left: 0;
      border-radius: 33%;
      position: absolute;
    background-color: var(--secondary-color);
    margin: 1.5em auto;
    }

    /*--------Skills Styling Media Q------*/

    .skills .flex{
        width: fit-content;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills .flex .card{
        margin: .5em;
    }


}


@media  (max-width: 450px){

    /*-----Header MediaQ-----*/

    .head .container{ 
        align-items: center;
         text-align: center;
          font-size: 1.2em;       
           position: relative;
            display: flex;
             height: 500px; 
              width: 100%;
    justify-content: center;
     flex-direction: column;   
    }

    .head .card{ 
        height: 75%; 
        width: 80%;
        margin-top: 4.7em;
        justify-self: flex-end;
        background-color: var(--suplimentary-color);
        transform: skewY(2.5deg);
        z-index: -10;
        position: absolute;
    }
   
       header h1{
           padding-top: 3.5em;
             font-size: 1.5em;
        }
   
       header p{
            font-size: 1.1em;
        }

    /*----Portfolio MediaQ-----*/
   
     .portfolio img{
       border-radius: 2px;
              margin: 0;
              height: 85%;
               width: 90%;
   }
   
   figure{
           font-size: 0.9em;
             padding: 0.5em 0.2em .5em;
             margin: 0.5rem 0.5rem 0.5rem 0;
             height: 85%;
             text-align: center;
    }
    .portfolio img{
    border-radius: 2px;
           margin: 0;
           height: 75%;
            width: 90%;
    }
   
   /*-----Footer MediaQ-------*/
   footer a{
             font-size: 1.2em;
                margin: 0.5em 0.5em;
                padding: 0.5em;
   }
   .contact{
             flex-wrap: wrap;
        flex-direction: row;
                 width: 60%;
                margin: auto;
    }
   
   /*------Navbar MediaQ------*/

   .nav-bar .container img{
    width: 50px;
    }

   nav ul li a{
          font-size: 0.8em;
            padding: .3em;
             margin: .2em;  
    }

   /*---------About Styling media Q---------*/

   .titles1::after{
    content: "";
     height: 3px; 
      width: 90%; 
     bottom: 45%; 
      right: 0;
      left: 0;
      border-radius: 33%;
      position: absolute;
    background-color: var(--secondary-color);
    margin: 1.5em auto;
    }

    .skills .flex{
        width: fit-content;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .skills .flex .card{
        margin: .5em;
    }


    .about-me-text p{
        line-height: 1.2em;
        padding: 1em 0;
    }

    .about-me img{
        width: 90%;
    }
    
    .about-me-text{
        width: 85%;
    }
   
}
@media  (max-width: 396px){

   .titles1::after{
    content: "";
     height: 3px; 
      width: 90%; 
     bottom: 90px; 
      right: 0;
      left: 0;
      border-radius: 33%;
      position: absolute;
    background-color: var(--secondary-color);
    margin: 1.5em auto;
    }

    .nav-bar .container img{
        width: 40px;
        }
    
       nav ul li a{
              font-size: 0.7em;
                padding: .3em;
                 margin: .2em;  
        }

}